<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Picas y Famas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link th:href="@{styles.css}" rel="stylesheet" />
</head>
<body>
<div>

    <div  class="right">
        <div class="centered">
            <h1>Picas y Famas</h1>
            <h3>Nicolás Torres Páez</h3>
            <a href="/play">
                <button href="/play" class="it">Click to play</button>
            </a>


        </div>

    </div>

</div>

</body>
</html>